<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy/MM/dd HH:mm:ss} %-5level [%thread] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.knarusawa.webauthndemo" level="DEBUG">
    <appender-ref ref="STDOUT" />
  </logger>
</configuration>
